[submodule "sam3"]
	path = sam3
	url = https://github.com/CWRU-AISM/sam3_tlang.git

[submodule "depth_anything_v3"]
	path = depth_anything_v3
	url = https://github.com/CWRU-AISM/depth_anything_v3_tlang.git

[submodule "uco3d"]
	path = uco3d
	url = https://github.com/facebookresearch/uco3d.git

[submodule "scannetpp_toolkit"]
	path = scannetpp_toolkit
	url = https://github.com/scannetpp/scannetpp.git
